<h1>Hangman</h1>
<p>Tries is <%=@tries%></p>
<p>Length is <%=@length%></p>
<p>Used is <%=@used%></p>
<p>Discovered is _E_O__</p>
<%= button_to 'Z', { controller: "game", action: "type", char: "z" } %>
